html {
    padding: 10px;
}

body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
    word-break: break-word;
    margin: 0;
    overflow: overlay;
}

#header {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.02);
}

#logo {
    display: inline-block;
    margin: 10px;
}

.nav {
    margin: 10px;
}

.nav ul {
    margin: auto;
    padding: 0;
    display: flex;
}

.nav ul li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
}

.nav .current {
    text-decoration: underline;
}

.nav .vertical-line {
    border-left: 1px solid darkgray;
    height: 17px;
    left: 50%;
    margin-left: 1px;
    top: 0;
}

#registration-nav {
    margin-left: auto;
}

#wrapper {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.02);
    min-height: 80%;
}

a {
    text-decoration: none;
    color: blue;
    user-select: none;
}

a:active {
    color: royalblue;
}

.page-title {
    margin-top: 0;
}

.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;
    border-radius: 3px;
}

input,
textarea {
    width: 100%;
    padding: 5px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169, 169, 169);
}

input {
    height: 30px;
}

.success {
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}

.listing-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid silver;
    border-radius: 15px;
}

.listing-table td,
.listing-table th {
    padding: 8px;
}

.listing-table .checkbox-td {
    padding: 0;
}

.listing-table tr:nth-child(odd) {
    background-color: whitesmoke;
}

.listing-table .wide-column {
    width: 28%;
}

.listing-table .thin-column {
    width: 20%;
}

.listing-table th {
    user-select: none;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.listing-table .listing-row:hover {
    background-color: lightgray !important;
}

.listing-detail-table {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px lightgray;
}

.listing-detail-table td {
    vertical-align: top;
    padding: 15px;
    width: 50%;
}

.listing-detail-table .price {
    color: red;
}

.listing-detail-table .listing-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.pagination {
    margin-left: 5px;
}

br {
    user-select: none;
}

.checkbox {
    height: 20px;
    margin: auto auto auto auto;
}
